

.tabulka-reklama {
    margin: 5px;
    padding: 5px;
    background-color: #FFF;
    border-radius: 3px;
}

.tabulka-objednavka {
    margin: 5px;
    padding: 5px;
    background-color: #FFF;
    border-radius: 3px;
}

tr:nth-child(odd) {background: rgb(241, 241, 241)}


.objednavka-riadok-stav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px 0px 5px;
}

.vytvorena {
    background-color: lightsalmon;
}

.vytvorena:hover {
    background-color: rgb(250, 138, 93);
}

.spracovana {
    background-color: lightseagreen;
}


.spracovana:hover {
    background-color: rgb(29, 144, 139);
}

.objednavka-riadok-stav > button {
    width: 100%;
    height: 20px;
    border: 0;
    border-radius: 3px;  
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.objednavka-detail {
    background-color:white;
    box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.2);;
    padding: 7px;
    border-radius: 5px;
}

.objednavka-detail > .kosikProdukt {
    box-shadow: 0px 0px 2px 0px rgba(31, 31, 31, 0.2);;
}