.produkt {
  margin: 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.produkt-img{
  margin: 3px;
}

.kosikProdukt {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 3px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap; 
  max-width: 500px;
}

.osobneUdaje{
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 3px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}

.label-input{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.vytvor-objednavku {
  background-color: rgb(133, 199, 149);
  border-width: 0px;
  border-radius: 3px;
  height: 30px;
  font-size: large;
  font-weight: bold;

  margin: 3px;
}

.vytvor-objednavku:hover{
  background-color: rgb(121, 158, 131);
}


.kosik{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.pridanie-produktu {
  display: flex;
  align-items: center;
}

.nazov-produktu{
  flex-grow: 1; 
}

.pocet-produktu{
  padding: 5px;

}

.cena-produktu{
  padding: 0px 10px 0px 10px ;
}

.kosik{
  max-width: 500px;
}

.suma{
  align-self: flex-end;
  padding: 0px 10px 0px 10px ;
  font-weight: bold;
}


div {
  font-weight: 500;
}

