.produkt {
  margin: 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.produkt-img{
  margin: 3px;
}

.produkty {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap; 
  max-width: 1000px;
}

.pridanie-produktu {
  display: flex;
  align-items: center;
}

.tlacitko-kosik {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgb(127, 243, 82);
  cursor: pointer; 
}

.pocet-kosik{
  padding: 5px;
}
